* {
    font-family: 'Source Sans Pro', sans-serif;
}

/* * --------------- SCROLL BAR --------------- * */

body::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    background-color: transparent;
}

body::-webkit-scrollbar-track {
    background: #f6f6f6;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #ffbdbd;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #ff7a7a;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Navegation */
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    padding-top: 30px;
    margin-bottom: 80px;
}

.nav-main img {
    margin-left: 50px;
}


.ul-perfil {
    position: relative;
}

.ul-perfil li a {
    background-image: url('../images/user-icon.png');
    background-size: cover;
    background-position: center;
    margin-right: 35px;
    margin-left: 10px;
    margin-top: 8px;
    width: 45px;
    height: 45px;
    border-radius: 29px;
    padding: 12px 23px;
}

.ul-perfil li:hover > .submenu-user {
    display: block;
}

.ul-perfil .submenu-user {
    display: none;
    z-index: 100;
    position: absolute;
    top: 15px;
    left: -115px;
    border: 2px solid #FFCFCF;
    width: 140px;
    border-radius: 10px;
    border-top-right-radius: 0;
    box-shadow: 0px 14px 18px rgba(0,0,0,0.2);
    background: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
}

.submenu-user:hover {
    background: #ffc6c6;
}

.submenu-user li {
    font-size: 1em;
    width: 100%;
    text-align: right;
    font-weight: 600;
    color: #444;
    padding: 10px 14px;
}

.nav-main ul {
    display: flex;
}

.nav-main .nav-ul li a {
    padding: 20px 40px;
    margin: 0 20px;
    color: #444;
    font-size: 1em;
    font-weight: 700;
    line-height: 24px;
    transition: all 0.5s ease;
}

.nav-main .nav-ul li a:hover {
    color: #FF8888;
}

/* In the page */
#in {
    color: #FF8888;
}

/* Menu Button mobile */
.menu-btn {
    position: absolute;
    cursor: pointer;
    padding: 3px 5px;
    top: 15px;
    right: 30px;
    z-index: 121;
    color: #444444;
    font-size: 2.3em;
    display: none;
}


/* * --------------------- * */
/* * ------CONTAINER------ * */
/* * --------------------- * */

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
}

.container div h2 {
    color: #ffc6c6;
    font-size: 2.25em;
    font-weight: 700;
    line-height: 48px;
}

.container div p {
    color: #444444;
    width: 540px;
    margin-top: 5px;
    margin-bottom: 40px;
    line-height: 24px;
}

.container div a {
    padding: 10px 20px;
    margin: 20px;
    color: #ffffff;
    font-size: 1em;
    font-weight: 700;
    line-height: 19px;
    border-radius: 5px;
    background: #ffc6c6;
    transition: all 0.3s ease;
}

.container div a:hover {
    background: #FFB1B1;
}

.container div a:last-child {
    padding: 10px 70px;
    color: #ffc6c6;
    background: #ffffff;
    border-radius: 5px;
    border: solid 1px #ffc6c6;
}

.container div a:last-child:hover {
    border: solid 1px #FF8888;
}

/* * --------------------- * */
/* * -------FOOTER-------- * */
/* * --------------------- * */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
}

.footer .derechos {
    display: flex;
    flex-direction: column;
}

.footer .derechos span ,
.footer .derechos a {
    color: #e8e8e8;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 13px;
    padding: 5px;
}

.footer .derechos span:last-child {
    display: block;
}


/* * --------------------- * */
/* * -----RESPONSIVE------ * */
/* * --------------------- * */

@media screen and (max-width: 1050px) {

    .nav-main .nav-ul li a {
        padding: 20px 30px;
        margin: 0 10px;
    }

    
    #foto-user {
        margin-right: 45px;
    }

}

@media screen and (max-width: 900px) {

    body {
        font-size: 14px;
    }

    .menu-btn {
        display: block;
    }

    .nav-main img {
        margin-left: 20px;
    }

    .nav-main ul.nav-ul {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        transform: translateY(-400px);
        background-color: #FFE0E0;
        padding: 30px;
        padding-top: 80px;
        width: 100%;
        z-index: 120;
        transition: transform .5s ease-in-out;
    }

    .nav-main ul.nav-ul.show {
        transform: translateY(0px);
    }

    .nav-main ul.nav-ul li {
        padding: 20px;
        display: block;
    }

    .ul-perfil {
        margin-right: 45px;
    }

}

@media only screen and (max-width: 540px) {

    .container div p {
        margin: auto;
        margin-bottom: 30px;
        width: 80%;
    }

}

@media only screen and (max-width: 455px) and (max-height: 810px) {

    .container div a {
        display: block;
    }

    .footer {
        position: relative;
        margin-top: 30px;
    }

}

@media screen and (max-height: 650px) {

    .footer {
        position: relative;
        margin-top: 20px;
    }

}