* {
    font-family: 'Source Sans Pro', sans-serif;
}

/* * --------------- SCROLL BAR --------------- * */

body::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    background-color: transparent;
}

body::-webkit-scrollbar-track {
    background: #f6f6f6;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #ffbdbd;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #ff7a7a;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* * ALERTAS * */
.alertas {
    display: none;
    background: rgb(255, 255, 201);
    border-bottom: 2px solid rgb(255, 255, 79);
    text-align: center;
    padding: 15px 50px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    color: #444444;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 23px;
}
.alertas.show {
    display: block;
    animation: difuminado 2s 0s linear;
}

@keyframes difuminado {
    0% {
        transform: translateY(-60px);
    }
    10% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* Navegation */
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    padding-top: 30px;
    margin-bottom: 80px;
}

.nav-main img {
    margin-left: 50px;
}

.ul-perfil {
    position: relative;
}

.ul-perfil li a {
    background-image: url('../images/user-icon.png');
    background-size: cover;
    background-position: center;
    margin-right: 35px;
    margin-left: 10px;
    margin-top: 8px;
    width: 45px;
    height: 45px;
    border-radius: 29px;
    padding: 12px 23px;
}

.ul-perfil li:hover > .submenu-user {
    display: block;
}

.ul-perfil .submenu-user {
    display: none;
    z-index: 100;
    position: absolute;
    top: 15px;
    left: -115px;
    border: 2px solid #FFCFCF;
    width: 140px;
    border-radius: 10px;
    border-top-right-radius: 0;
    box-shadow: 0px 14px 18px rgba(0,0,0,0.2);
    background: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
}

.submenu-user:hover {
    background: #ffc6c6;
}

.submenu-user li {
    font-size: 1em;
    width: 100%;
    text-align: right;
    font-weight: 600;
    color: #444;
    padding: 10px 14px;
}

.nav-main ul {
    display: flex;
}

.nav-main .nav-ul li a {
    padding: 20px 40px;
    margin: 0 20px;
    color: #444;
    font-size: 1em;
    font-weight: 700;
    line-height: 24px;
    transition: all 0.5s ease;
}

.nav-main .nav-ul li a:hover {
    color: #FF8888;
}

/* In the page */
#in {
    color: #FF8888;
}

/* Menu Button mobile */
.menu-btn {
    position: absolute;
    cursor: pointer;
    padding: 3px 5px;
    top: 15px;
    right: 30px;
    z-index: 121;
    color: #444444;
    font-size: 2.3em;
    display: none;
}

/* * --------------------- * */
/* * ------MENU FILTER---- * */
/* * --------------------- * */

.main-filter {
    margin: auto;
    margin-bottom: 20px;
    width: 500px;
    border-radius: 5px;
    border: solid 1px #FFCFCF;
    z-index: 110;
}

.main-filter-ul li a {
    display: block;
    color: #444444;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 19px;
    padding: 10px 10px;
    border-bottom: 1px solid #FFCFCF;
    transition: all 0.3s ease;
}

#filter {
    margin-left: 5px;
    color: #d3d3d3;
}

.main-filter-ul li a i {
    float: right;
    padding: 3px;
    margin-right: 5px;
    color: #D3D3D3;
}

.main-filter-ul li a i:hover {
    color: #9B9B9B;
}

/** UL DESPLEGADO **/
.main-filter-ul li ul a:hover {
    background-color:#FFCFCF;
}

.main-filter-ul li ul {
    display: none;
    background: #FFE0E0;
    position: absolute;
    min-width: 500px;
}

/* * --------------------- * */
/* * ------PAGINATION----- * */
/* * --------------------- * */

.pagination {
    width: 120px;
    display: flex;
    margin: auto;
    justify-content: center;
    border-bottom: solid 2px #FFCFCF;
}

.pagination a {
    margin: 5px;
    padding: 3px;
    color: #444444;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 24px;
}

/* Arrow */
.pagination a:first-child ,
.pagination a:last-child {
    color: #D3D3D3;
    font-size: 0.9em;
}

.pagination a:hover {
    color: #ff9696;
    font-size: 1.1em;
    font-weight: 900;
    line-height: 24px;
}

/* * --------------------- * */
/* * -------RECETAS------- * */
/* * --------------------- * */

.container {
    margin-top: 10px;
}

.recetas {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.recetas div {
    margin: 30px;
    transition: all 0.5s ease;
}

.recetas div:hover {
    background-color: #F4F4F4;
    transform: translateY(-3px);
    border-radius: 6px;
    box-shadow: 0px 14px 18px rgba(0,0,0,0.41);
}

.recetas img {
    width: 255px;
    height: 165px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.recetas h3 {
    color: #444444;
    font-size: 1.1em;
    font-weight: 700;
    line-height: 17px;
    margin: 5px 0 5px 10px;
}

.recetas h4 {
    display: block;
    margin: 5px 0 15px 10px;
    color: #FF8888;
    font-size: 0.99em;
    font-weight: 700;
    line-height: 17px;
}

.recetas a
/* .recetas div span */ { 
    display: inline-block;
    padding: 10px;
    width: 100%; /*Modificar el width si se agrega el carrito*/
    text-align: center;
    color: #ffffff;
    font-size: 1em;
    font-weight: 700;
    line-height: 17px;
    border-radius: 6px;
    background: #ffc6c6;
    transition: all 0.5s ease;
    cursor: pointer;
}

.recetas a:hover ,
.recetas div span:hover {
    color: #FFA5A5;
    background-color: #444444;
}



/* * --------------------- * */
/* * -------FOOTER-------- * */
/* * --------------------- * */

.footer {
    text-align: center;
    padding: 10px;
}

.footer .derechos {
    display: flex;
    flex-direction: column;
}

.footer .derechos span ,
.footer .derechos a {
    color: #e8e8e8;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 13px;
    padding: 5px;
}

.footer .derechos span:last-child {
    display: block;
}

.footer .footer-ul-redes li {
    display: inline-block;
    padding: 10px 0;
}

.footer .footer-ul-redes li a {
    padding: 10px;
    margin: 5px;
    color: #444444;
    font-size: 1.8em;
    transition: all 0.5s ease;
}

.footer .footer-ul-redes li a:hover {
    color: #FF8888;
}


/* * --------------------- * */
/* * -----RESPONSIVE------ * */
/* * --------------------- * */

@media screen and (max-width: 1200px) { 
    
    .recetas {
        justify-content: center;
    }

}

@media screen and (max-width: 1050px) {

    .nav-main .nav-ul li a {
        padding: 20px 30px;
        margin: 0 10px;
    }

    #foto-user {
        margin-right: 45px;
    }

    .recetas div {
        margin: 20px;
    }

}

@media screen and (max-width: 955px){

    .recetas div {
        margin-top: 50px;
        width: 40%;
    }

    .recetas span {
        font-size: 1.2em;
    }

    .recetas img {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {

    body {
        font-size: 14px;
    }

    .menu-btn {
        display: block;
    }

    .nav-main img {
        margin-left: 20px;
    }

    .nav-main ul.nav-ul {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        transform: translateY(-400px);
        background-color: #FFE0E0;
        padding: 30px;
        padding-top: 80px;
        width: 100%;
        z-index: 120;
        transition: transform .5s ease-in-out;
    }

    .nav-main ul.nav-ul.show {
        transform: translateY(0px);
    }

    .nav-main ul.nav-ul li {
        padding: 20px;
        display: block;
    }

    .ul-perfil {
        margin-right: 45px;
    }

    .footer ul.footer-ul-redes {
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width: 630px) {

    .main-filter {
        width: 280px;
    }

    .main-filter-ul li ul {
        min-width: 280px;
    }

    #logo {
        margin-left: 25px;
    }

    .pagination a {
        margin: 10px;
    }

    .recetas {
        width: 98%;
    }

    .recetas div {
        margin: 30px 20px;
    }

    .recetas span {
        font-weight: 600;
    }

    .recetas img {
        width: 100%;
    }
}

@media screen and (max-width: 510px) {

    .recetas {
        width: 90%;
    }

    .recetas div {
        width: 100%;
    }

}